*{
    font-family: "微软雅黑";
    font-weight: lighter;
}
.fr{
	float: right;
}
.col-xs-12{
	padding: 0;
}
.ai-padding{
	padding-left: 0;
    margin-top: 6px
}
.user-padding{
	padding-right: 0;
    margin-top: 6px
}
.chat-title {
    background: rgb(25, 44, 70);
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 1px 7px rgba(24, 74, 93, 0.7);
}
/*不影响布局*/
.row{
	margin-bottom: 48px;
}
.msg-view{
margin-top: 8px;

}
.input-box{
	position: fixed;
	bottom: 0;
	margin-top: 50px;
	z-index: 999;
}
/*聊天窗口样式*/
/*头像*/
.ai-msg img{
	width: 50px;
	border-radius: 50px;
	box-shadow: 0px 0px 1px 0px #080808;
	float: right;
    margin-right: 10px;
}
.user-msg img{
	width: 50px;
	border-radius: 50px;
	box-shadow: 0px 0px 1px 0px #080808;
}
/*消息文本*/
.msg{
	border-radius: 0 25px 25px 25px;
    font-size: 18px;
    word-break: break-all;
    width: auto;
    padding: 10px;
    display: inline-block;
    margin: auto;
    background: rgba(25, 147, 147, 0.2);;
    letter-spacing: 1px;
    color:#11a470;
    transition: width .12s ease-out, height .12s ease-out;
    max-width: 95%;
    margin-left: -10px;
}


.user-msg{
	margin-top: 8px;
}
.rightmsg{
	border-radius: 25px 25px 0 25px;
    font-size: 18px;
    word-break: break-all;
    width: auto;
    padding: 10px;
    display: inline-block;
    margin: auto;
    background: rgba(25, 147, 147, 0.2);;
    letter-spacing: 1px;
    color:#11a470;
    max-width: 95%;
}
.container-fluid{
	background:-webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
	min-height:100vh;
}
/*输入框*/
.input-box{
	border-radius: 0;
}
#sendButton{
	border-radius: 0;
}
#userMsg{
	border-radius: 0;
    height: 42px;
    filter: opacity(0.99);
    color: white;
    border:none;
    font-weight: lighter;
    padding-left: 20px;
    position: relative;
    margin: 0 auto;
    padding: 1em;
    font-size: 18px;
    width: 100%;
    background: hsla(0,0%,100%,.25) border-box;
    overflow: hidden;
}
#userMsg::before{
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: -30px;
    z-index: -1;
    -webkit-filter: blur(20px);
    filter: blur(20px);
}
/*输入框样式重写*/
.input-group {
    width: 100%;
}
/*返回about页面*/
#goback{
    display: inline-block;
    float: left;
    position: absolute;
    left: .7em;
    font-size: 23px;
    color: #e4e7ea;
}
