body {
 
}
.one{
 background: #282537;
 background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
 background-image: -moz-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
 background-image: -o-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
 background-image: radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
}
.second{
  background-image: linear-gradient(#8b9da9, #fff6e4);
 box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
}
.third{
  background: rgb(105,155,200);
background: -moz-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%, rgba(181,197,216,1) 57%);
 background: -webkit-gradient(radial, top left, 0px, top left, 100%, color-stop(0%,rgba(105,155,200,1)), color-stop(57%,rgba(181,197,216,1)));
 background: -webkit-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
 background: -o-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
 background: -ms-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
 background: radial-gradient(ellipse at top left, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#699bc8', endColorstr='#b5c5d8',GradientType=1 );
}
.fourth{
   background-image: linear-gradient(#8b9da9, #fff6e4);
 box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
}
.fifth{
background: rgb(244,226,156);
background: -moz-linear-gradient(-45deg, rgba(244,226,156,0) 0%, rgba(59,41,58,1) 100%), -moz-linear-gradient(left, rgba(244,226,156,1) 0%, rgba(130,96,87,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(244,226,156,0) 0%,rgba(59,41,58,1) 100%), -webkit-linear-gradient(left, rgba(244,226,156,1) 0%,rgba(130,96,87,1) 100%);
background: -o-linear-gradient(-45deg, rgba(244,226,156,0) 0%,rgba(59,41,58,1) 100%), -o-linear-gradient(left, rgba(244,226,156,1) 0%,rgba(130,96,87,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(244,226,156,0) 0%,rgba(59,41,58,1) 100%), -ms-linear-gradient(left, rgba(244,226,156,1) 0%,rgba(130,96,87,1) 100%);
background: linear-gradient(135deg, rgba(244,226,156,0) 0%,rgba(59,41,58,1) 100%), linear-gradient(to right, rgba(244,226,156,1) 0%,rgba(130,96,87,1) 100%);}
#radioWrap{
  width:20px;
  height:180px;
  position:absolute;
  right:5%;
  top:50%;
  margin-top: -90px;}
#radio{width:100%; height:100%; overflow: hidden;}
#radio li{
  width:20px;
  height:20px;
  background-color: rgba(255,255,255, 0.5);
  text-indent: -10000px;
  border-radius: 50%;
  margin-top: 12px;
  cursor:pointer;
  list-style: none;
}
#radio li:first-child{margin-top:0;}
	#radioOn{
      width:20px;
      height:20px;
      margin-bottom:12px;
      position: absolute;
      top:0; left:0;
      background-color: #fff;
      border-radius: 50%;
}
.onepage{
  top:7em;
  margin:auto;
  height:100%;
  background: rgba(0, 0, 0, 0.51);
  text-align: center;
}
.onepage h1{
  display: inline-block;
  height:100px;
  height: 70px;
  width: 100%;
  margin-top:60px;
}
.enterBtn{
  width:150px;
  height: 50px;
  text-align: center;
  margin: auto;
  display: inline-block;
  border-radius:50px;
  font-size: 20px;
  border: none;
  transition: 0.3s ease-in-out;
  margin-top:60px;
  margin-bottom: 60px;
}
.enterBtn:hover{
  transition: 0.3s ease-in-out;
}
.footer{
  position: relative;
  margin-top: 165px;
  color:white;
  font-weight: lighter;
  background: rgba(0, 0, 0, 0.51);
}
.footerInfo{
  line-height: 45px;
  font-size: 16px;
}
.main{
  margin-top: 50px;
}
